<div class="row">
  <div class="col-md-12">
    <p>type: {{error_type}}</p>
    <p>message: {{message}}</p>
    <p>environment: {{environment.name}}</p>
    <p>hostname: {{hostname}}</p>
    <code>{{backtrace}}</code>
  </div>
</div>
