<h2><small>Edit</small> {{model.title}}</h2>

<p>
  <label for="">Title</label>
  <br />
  {{input value=model.title}}
</p>
<p>
  {{textarea value=model.description}}
</p>

<input type="submit" value="Save" {{action 'saveChanges'}} />
<a href="#"{{action 'cancel'}}>cancel</a>
{{#if showUnsavedMessage}}
  <p class="unsaved">unsaved changes</p>
{{/if}}
{{#if isSaving}}
  <p class="saving">saving...</p>
{{/if}}
